h1{
    width: 65px;
    color: orange;
}
#backlist{
    background-color: brown;
}
.list{
    background-color: orchid;
}
h1{
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 3em;
}
body{
    font-size: 16px;
}
ul{
    font-style: oblique;
    line-height: 20px;
    text-align: center;
    text-decoration: underline;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;

}
#brown{
    background-color: brown;

}